# SPDX-FileCopyrightText: SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

---
image:
  # ref: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/shoot-rsyslog-relp:latest
  repository: europe-docker.pkg.dev/gardener-project/public/gardener/extensions/shoot-rsyslog-relp
  tag: latest
  pullPolicy: IfNotPresent

serviceName: shoot-rsyslog-relp
replicaCount: 1

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"

controllers:
  lifecycle:
    concurrentSyncs: 5
  heartbeat:
    renewIntervalSeconds: 30
  ignoreOperationAnnotation: false

ignoreResources: false

vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      cpu: 50m
      memory: 64Mi
  updatePolicy:
    updateMode: "Recreate"

imageVectorOverwrite: {}
  # images:
  #   - name: alpine
  #     repository: europe-docker.pkg.dev/gardener-project/releases/3rd/alpine
  #     tag: "3.23.2"
  #   - name: pause-container
  #     sourceRepository: github.com/kubernetes/kubernetes/blob/master/build/pause/Dockerfile
  #     repository: registry.k8s.io/pause
  #     tag: "3.10"

gardener:
  version: ""

healthPort: 8081

# settings for metrics, e.g. scraping by seed-prometheus
metrics:
  port: 8080
  enableScraping: true

webhookConfig:
  servicePort: 443
  serverPort: 10250