# SPDX-FileCopyrightText: 2023 SAP SE or an SAP affiliate company and Gardener contributors
#
# SPDX-License-Identifier: Apache-2.0

---
image: eu.gcr.io/gardener-project/gardener/extensions/shoot-rsyslog-relp:latest
pullPolicy: IfNotPresent

serviceName: shoot-rsyslog-relp
replicaCount: 1

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    memory: "512Mi"

controllers:
  lifecycle:
    concurrentSyncs: 5
  healthcheck:
    concurrentSyncs: 5
  heartbeat:
    renewIntervalSeconds: 30
  ignoreOperationAnnotation: false

ignoreResources: false

vpa:
  enabled: true
  resourcePolicy:
    minAllowed:
      cpu: 50m
      memory: 64Mi
  updatePolicy:
    updateMode: "Auto"

gardener:
  version: ""

healthPort: 8081

# settings for metrics, e.g. scraping by seed-prometheus
metrics:
  port: 8080
  enableScraping: true
